:root {
  --Dark-Blue-Dark-Mode-Elements: hsl(209, 23%, 22%);
  --Very-Dark-Blue-Dark-Mode-Background: hsl(207, 26%, 17%);
  --Very-Dark-Blue-Light-Mode-Text: hsl(200, 15%, 8%);
  --Dark-Gray-Light-Mode-Input: hsl(0, 0%, 52%);
  --Very-Light-Gray-Light-Mode-Background: hsl(0, 0%, 98%);
  --White-Dark-Mode-Text-and-Light-Mode-Elements: hsl(0, 0%, 100%);
}

@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 300;
}

body {
  background-color: var(--Very-Light-Gray-Light-Mode-Background);
}
header {
  display: flex;
  /* border: 1px solid red; */
  justify-content: space-between;
  padding: 20px 40px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

header h1 {
  font-weight: 800;
}

.toggle {
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: flex-end;
  font-size: 22px;
  padding: 10px 40px;
  border-radius: 10px;
  border: none;
  background-color: var(--White-Dark-Mode-Text-and-Light-Mode-Elements);
}

.toggle:hover {
  cursor: pointer;
  background-color: var(--Very-Light-Gray-Light-Mode-Background);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.toggle svg {
  margin-right: 10px;
}

.country {
  /* border: 1px solid red; */
  width: 300px;
  margin: 10px;
  margin-bottom: 55px;
  border-radius: 10px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.country:hover {
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.country picture {
  width: 100%;
}

.country section {
  padding: 25px;
  padding-top: 5px;
}

.country img {
  width: 100%;
  border-radius: 10px 10px 0 0;
  height: 170px;
  padding: 0;
  transition: all 0.1s ease-in-out;
  object-fit: cover;
}
/* 
.country img:hover {
  transform: scale(1.05);
} */
.country h2 {
  margin-top: 15px;
  letter-spacing: 1px;
  font-weight: 800;
}

.country .country-info-highlight {
  font-weight: 600;
}

.country p {
  font-weight: 300;
  margin-top: 10px;
}

.countries {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.countries-info {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.search-filter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 40px 60px;
  position: sticky;
  top: 10px;
}

.search-filter section {
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 1px solid red; */
  border-radius: 8px;
  padding: 5px;
  background-color: white;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.search-filter section svg {
  font-size: 20px;
  margin-left: 15px;
}

.search-filter input {
  border: none;
  padding: 10px 20px;
  padding-right: 250px;
  outline: none;
  font-size: 18px;
}

.search-filter form select {
  padding: 10px 50px;
  font-size: 18px;
  border-radius: 10px;
  border: none;
  outline: none;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.search-filter form select:hover {
  cursor: pointer;
}
